.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}
a{
  text-decoration: none;
}
.b-example-divider {
  width: 100%;
  height: 4rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}


.malf{
  text-decoration: none;
  color: white;
}

.img{
  max-width: 40px;
}



/*
  Avec la section, nous voulons prendre toute la place 
  du « viewport » et mettre un arrière-plan en couleur 
  transparente pour donner l’impression
  d’un « pop-up » par-dessus la page.
*/
section.login-container{
    display: flex;
    position: fixed;
    top:0;
    left: 0;
    bottom: 0;
    right: 0;
  
    background: rgba(243,156,18 ,0.8);
}

/*
  Le div directement sous la section nous permet 
  de créer une boite avec une couleur d’arrière-plan
  et une bordure.
*/
section.login-container > div{
    width: 450px;
  
    margin: auto;
  
    padding: 20px;

    text-align: center;

    background: #eee;
    border: 1px solid #ccc;

    border-radius: 5px;

}

/*
    Nous plaçons les éléments à l’intérieur du formulaire
    en « flexbox » sur une seule colonne.
*/
section.login-container form{
    display: flex;
    flex-direction: column;
}

/*
  Nous voulons que les champs du formulaire prennent 
  toute la largeur.
  Le outline: 0; empêche d’avoir un surlignement de
  l’objet au focus.
  C’est moins bon au point de vue de l’accessibilité, 
  mais plus joli du point vu du design.
*/
form input[type="password"], 
form input[type="text"], 
form button[type="submit"] {
    width: 100%;
  
    margin-bottom: 32px;
    padding: 16px;
  
    color: #333;

    border: 1px solid #ccc;
    border-radius: 5px;

    outline: 0;
}

/*
    Au survol et au focus des champs de saisie de texte,
    nous changeons la couleur d’arrière-plan.
*/
form input[type="text"]:focus,
form input[type="text"]:hover,
form input[type="password"]:focus,
form input[type="password"]:hover {
    background-color: #ccc;
}

/*
    Mises-en forme du bouton pour l’envoi du formulaire.
*/
form button[type="submit"] {
    font-weight: bold;
    color: #eee;
    text-transform: uppercase;

    background-color: #e67e22;
}

/*
    Mises-en forme du bouton pour l’envoi du formulaire au survol et au focus.
*/
form button[type="submit"]:focus,
form button[type="submit"]:hover {
    background-color: #d35400;
}





/****************************************************/







/* Styles de base pour la page Web
   Ne pas touchez */


/*------------------
   Reset
------------------*/

html{
    box-sizing: border-box;
}

*,*:before,*:after{
    box-sizing: inherit;
}

/*------------------
   Base
------------------*/

body{
    background-color: white;
    font-family: Helvetica, sans-serif;
}


/*------------------
   Mise en page
------------------*/

.wrapper{
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

/* @import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');

body{
  font-family: 'Barlow', sans-serif;
}

a:hover{
  text-decoration: none;
}

.border-left{
  border-left: 2px solid var(--primary) !important;
}


.sidebar{
  top: 0;
  left : 0;
  z-index : 100;
  overflow-y: auto;
}

.overlay{
  background-color: rgb(0 0 0 / 45%);
  z-index: 99;
}

/* sidebar for small screens */
@media screen and (max-width: 767px){
  
    .sidebar{
      max-width: 18rem;
      transform : translateX(-100%);
      transition : transform 0.4s ease-out;
    }
    
    .sidebar.active{
      transform : translateX(0);
    }
    
  }
  .abc{
    text-decoration: none;
  }
  
.img{
  max-width: 40px;
}



/*
  Avec la section, nous voulons prendre toute la place 
  du « viewport » et mettre un arrière-plan en couleur 
  transparente pour donner l’impression
  d’un « pop-up » par-dessus la page.
*/
section.login-container{
    display: flex;
    position: fixed;
    top:0;
    left: 0;
    bottom: 0;
    right: 0;
  
    background: rgba(243,156,18 ,0.8);
}

/*
  Le div directement sous la section nous permet 
  de créer une boite avec une couleur d’arrière-plan
  et une bordure.
*/
section.login-container > div{
    width: 450px;
  
    margin: auto;
  
    padding: 20px;

    text-align: center;

    background: #eee;
    border: 1px solid #ccc;

    border-radius: 5px;

}

/*
    Nous plaçons les éléments à l’intérieur du formulaire
    en « flexbox » sur une seule colonne.
*/
section.login-container form{
    display: flex;
    flex-direction: column;
}

/*
  Nous voulons que les champs du formulaire prennent 
  toute la largeur.
  Le outline: 0; empêche d’avoir un surlignement de
  l’objet au focus.
  C’est moins bon au point de vue de l’accessibilité, 
  mais plus joli du point vu du design.
*/


/*
    Au survol et au focus des champs de saisie de texte,
    nous changeons la couleur d’arrière-plan.
*/
form input[type="text"]:focus,
form input[type="text"]:hover,
form input[type="password"]:focus,
form input[type="password"]:hover {
    background-color: #ccc;
}

/*
    Mises-en forme du bouton pour l’envoi du formulaire.
*/
form button[type="submit"] {
    font-weight: bold;
    color: #eee;
    text-transform: uppercase;

    background-color: #e67e22;
}

/*
    Mises-en forme du bouton pour l’envoi du formulaire au survol et au focus.
*/
form button[type="submit"]:focus,
form button[type="submit"]:hover {
    background-color: #d35400;
}





/****************************************************/







/* Styles de base pour la page Web
   Ne pas touchez */


/*------------------
   Reset
------------------*/

html{
    box-sizing: border-box;
}

*,*:before,*:after{
    box-sizing: inherit;
}

/*------------------
   Base
------------------*/

body{
    background-color: white;
    font-family: Helvetica, sans-serif;
}


/*------------------
   Mise en page
------------------*/

.wrapper{
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

/* @import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');

body{
  font-family: 'Barlow', sans-serif;
}

a:hover{
  text-decoration: none;
}

.border-left{
  border-left: 2px solid var(--primary) !important;
}


.sidebar{
  top: 0;
  left : 0;
  z-index : 100;
  overflow-y: auto;
}

.overlay{
  background-color: rgb(0 0 0 / 45%);
  z-index: 99;
}

/* sidebar for small screens */
@media screen and (max-width: 767px){
  
    .sidebar{
      max-width: 18rem;
      transform : translateX(-100%);
      transition : transform 0.4s ease-out;
    }
    
    .sidebar.active{
      transform : translateX(0);
    }
    
  }

  @import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');

body{
  font-family: 'Barlow', sans-serif;
  background-color: #1d1c1c;
}

a:hover{
  text-decoration: none;
}

.border-left{
  border-left: 2px solid var(--primary) !important;
}


.sidebar{
  top: 0;
  left : 0;
  z-index : 100;
  overflow-y: auto;
}

.overlay{
  background-color: rgb(0 0 0 / 45%);
  z-index: 99;
}

/* sidebar for small screens */
@media screen and (max-width: 767px){
  
  .sidebar{
    max-width: 18rem;
    transform : translateX(-100%);
    transition : transform 0.4s ease-out;
  }
  
  .sidebar.active{
    transform : translateX(0);
  }
  
}

/* espace header  */

.header{
  color: #eee;
}

header {
  background-color: #f2f2f2;
  padding: 10px;
}

h1 {
  color: #333;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

nav ul li a {
  text-decoration: none;
  color: #525050;
}


footer{
  background-color: #f2f2f2;
}

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

:root {
  --font: "Lato", sans-serif;
  --corPreto: #000;
  --corCinza: #3a3a3a;
  --corCinzaClaro: #8f8f8f;
  --corCiano: #07949e;
  --corBranco: #fff;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font);
  justify-content: center;
}


.title {
  position: absolute;
  color: var(--corCiano);
  top: 45px;
  text-align: center;
  font-size: 2.5em;
  font-weight: 700;
}
.box {
  position: relative;
  width: 380px;
  height: 420px;
  background-color: var(--corCinza);
  border-radius: 8px;
  overflow: hidden;
}
.box::before {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 350px;
  height: 420px;
  background: linear-gradient(
    0deg,
    transparent,
    var(--corCiano),
    var(--corCiano)
  );
  transform-origin: bottom right;
  animation: animate 6s linear infinite;
}
.box::after {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 280px;
  height: 320px;
  background: linear-gradient(
    0deg,
    transparent,
    var(--corCiano),
    var(--corCiano)
  );
  transform-origin: bottom right;
  animation: animate 6s linear infinite;
  animation-delay: -3s;
}
@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.form {
  position: absolute;
  inset: 2px;
  border-radius: 8px;
  background-color: var(--corCinza);
  z-index: 10;
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
}
.form h2 {
  color: var(--corCiano);
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.1em;
}
.inputBox {
  position: relative;
  width: 300px;
  margin-top: 25px;
}
.inputBox input {
  position: relative;
  width: 100%;
  padding: 20px 10px 10px;
  border: none;
  background-color: transparent;
  outline: none;
  color: var(--corCinzaClaro);
  font-size: 1em;
  letter-spacing: 0.05em;
  z-index: 10;
}
.inputBox span {
  position: absolute;
  left: 0;
  padding: 20px 0px 10px;
  font-size: 1em;
  color: var(--corCinzaClaro);
  pointer-events: none;
  letter-spacing: 0.05em;
  transition: 0.5s;
}
.inputBox input:valid ~ span,
.inputBox input:focus ~ span {
  color: var(--corCiano);
  transform: translateY(-34px);
  font-size: 0.75em;
}
.inputBox i {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: var(--corCiano);
  border-radius: 4px;
  transition: 0.5s;
  pointer-events: none;
  z-index: 9;
}
.inputBox input:valid ~ i,
.inputBox input:focus ~ i {
  height: 34px;
}
.links {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}
.links a {
  font-size: 0.8em;
  color: var(--corCinzaClaro);
  text-decoration: none;
}
.links a:hover,
.links a:nth-child(2) {
  color: var(--corCiano);
}
.form .bottom {
  border: none;
  outline: none;
  background-color: var(--corCiano);
  padding: 9px 0;
  width: 140px;
  margin-top: 10px;
  border-radius: 4px;
  font-weight: 700;
  font-size: 1.2em;
  letter-spacing: 0.1em;
  cursor: pointer;
  align-self: center;
}
.form .bottom:active {
  opacity: 0.8;
}

.footer {
  bottom: 0;
  padding-top: 10px;
  position: fixed;
  width: 90%;
  height: 50px;
  color: var(--corBranco);
  font-size: 1.1em;
  text-align: center;
  font-weight: normal;
  line-height: 1em;
}
.footer a {
  text-decoration: none;
  color: var(--corCinzaClaro);
  font-weight: 700;
  font-size: 0.9em;
}
.footer a:hover {
  color: var(--corCiano);
}

@media (max-height: 300px) {
  body {
    flex-direction: row;
  }
}
